:local(.sidecarId) {
    color: #aaaaaa;
    font-size: 0.9em;
}

:local(.collectorEntry) .row {
    margin-bottom: 0;
}

:local(.collectorEntry) .form-group {
    display: inline-block;
    margin: 0 10px 0 0;
}

:local(.additionalInformation) {
    margin-left: 20px;
}

:local(.headerComponentsWrapper) {
    float: right;
    margin: 5px 0;
}

:local(.headerComponentsWrapper) .btn-link {
    color: #666;
}

:local(.configurationLabel) {
    display: block;
    padding: 10px 0;
}
