:local(.sidecarModal) {
    font-size: 14px;
}

:local(.sidecarModal) div {
    padding: 10px 15px;
}

:local(.sidecarModal) h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 5px;
}

:local(.sidecarModal) p {
    line-height: 1.3;
    margin-bottom: 15px;
}
