.collector-os {
    margin-right: 5px;
    margin-left: 2px;
}

form.collectors-filter-form {
    margin-top: 5px;
}

table.collectors-list {
    margin-top: 15px;
    margin-bottom: 0px;
}

th.sortable, th.sort-asc, th.sort-desc {
    cursor: pointer;
}

/* Dirty hack to avoid column widths to change */
th.sortable:after {
    content: ' ';
    display: inline-block;
    margin-left: 5px;
    width: 12px;
}

th.sortable:hover:after {
    content: "\f0dc";
    font-family: FontAwesome;
    line-height: 1;
    margin-left: 5px;
}

th.sort-asc:after {
    content: "\f160";
    font-family: FontAwesome;
    line-height: 1;
    margin-left: 5px;
}

th.sort-desc:after {
    content: "\f161";
    font-family: FontAwesome;
    line-height: 1;
    margin-left: 5px;
}

.name {
    width: 300px;
}

#collector-configurations-list th.actions, td.actions {
    width: 150px;
}

#collector-outputs-list th.actions, td.actions {
    width: 150px;
}

#collector-inputs-list th.actions, td.actions {
    width: 150px;
}

#collector-snippets-list th.actions, td.actions {
    width: 150px;
}

.deflist {
    margin-top: 10px;
}

.deflist dt {
    float: left;
    clear: left;
}

.deflist dd {
    margin-left: 160px;
}

.top-margin {
    margin-top: 10px;
}

hr.separator {
    margin-top: 10px;
    margin-bottom: 5px;
}

.collector-name {
    word-break: break-all;
}

.configuration-tag {
    font-weight: normal;
    margin-right: 2px;
}

.configuration-tag-sm {
    font-size: 80%;
}